
<% try { %>
  <%- include('partials/header', {user: [firstName, lastName]}) %>
<%} catch(error) { %>
  <%- include('partials/header')%>
<%} %>




<main role="main">
  <div id="logout-div" style="display:none;" class="answer_list" ></div>
  <div id="modal" style="display:none;" class="answer_list">
    <h1 class="popup">Are you sure you want to log out?</h1>
    <a href="/"><button type="button" class="btn btn-light">Stay logged in</button></a>
    <a href="/logout"><button type="button" class="btn btn-secondary">Log out</button></a>

  </div>
  

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading test">Event Management System</h1>
      <p class="lead text-muted">Welcome to Event Management System, the premier event management system designed to streamline your event planning process. Our platform offers a user-friendly interface for creating and customizing events of all sizes, along with a robust registration system, dynamic agenda planning, and engaging attendee experiences. With comprehensive analytics, secure payment processing, seamless communication tools, and customizable branding options, We ensures that organizing and executing successful events has never been easier. Trust in our reliability, scalability, and commitment to innovation, and join a community of event organizers who rely on Our platform to make their events unforgettable. Start planning your next event with confidence and efficiency today!
      </p>
      <p>Please login/register to create personal schedules/events</p>
     
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% foundApps.forEach(function(item) { %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <div class="card-body btn">
              <h2><%=item.name %></h2>
              <p class="card-text"><%= item.hint %> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/apps/<%= item.name %>">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        <div class="col-md-4">
          <a href="/add_item" style="text-decoration: none;">
            <div class="card mb-4 box-shadow">
              <button type="button" class="btn btn-light">
                <div class="card-body add-card">
                  <h1>Add Item...</h1>
                </div>
              </button>

            </div>
          </a>
        </div>


      </div>
    </div>
  </div>
  </div>

</main>

<%- include('partials/footer') %>